<%= form_for(@argument) do |f| %>
  <% if @argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@argument.errors.count, "error") %> prohibited this argument from being saved:</h2>
      <ul>
      <% @argument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="premises-form">
    <% @argument.premises.each do |premise| %>
      <li>
        <input type="text" name="<%= "premises[#{premise.id}]" %>" value="<%= premise.text %>">
      </li>
    <% end %>
    <li>
      <input type="text" name="new_premise" value="" placeholder="<%= @argument.premise_input_placeholder %>" />
    </li>
  </ul>

  <div class="argument-actions">
    <button type="submit">Save</button>
    <button type="submit" name="update_action" value="save_and_add">Add premise</button>
  </div>

  <%= f.number_field :statement_id, hidden: true %>
  <%= f.check_box :agree, hidden: true %>

  <br>
  <br>

  <div class="actions">
  </div>
<% end %>
