<p>
  I <%= @argument.agree_disagree.downcase %> with:
  <%= link_to @argument.statement.text, statement_path(@argument.statement) %>
</p>

<%= form_for(@argument) do |f| %>
  <% if @argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@argument.errors.count, "error") %> prohibited this argument from being saved:</h2>
      <ul>
      <% @argument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
  <% @argument.premises.each do |premise| %>
    <li><%= premise.text %></li>
  <% end %>
    <% if new_statement %>
      <li>
        <input name="new_statement_text" style='width: 600px' placeholder="<%= @argument.premises.none? ? "Why do you #{@argument.agree_disagree.downcase}?" : "Expand on your #{'premise'.pluralize(@argument.premises.count)} above to form an argument." %>"></input>
      </li>
    <% end %>
    <li style="list-style-type: none; padding-top: 10px;">
      <button type="submit" name="edit_action" value="add_another">Add Premise</button>
      <% if new_statement %>
        <button type="submit" name="edit_action" value="done">Done</button>
      <% end %>
    </li>
  </ul>



  <%= f.number_field :statement_id, hidden: true %>
  <%= f.check_box :agree, hidden: true %>

  <br>
  <br>

  <div class="actions">
  </div>
<% end %>
