<%= form_for(@argument) do |f| %>
  <% if @argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@argument.errors.count, "error") %> prohibited this argument from being saved:</h2>
      <ul>
      <% @argument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <% if local_assigns[:suggest_new] %>
      Without changing the argument's meaning, adjust the words to show how you interpret the original argument.
    <% else %>
      <%= @argument.input_placeholder %>
    <% end %>
  </p>

  <%= f.text_area :text, style: "width: 100%; height: 40px; font-family: Verdana;" %>

  <div class="argument-actions">
    <button type="submit" name="save_action" value="publish">Publish</button>
    <button type="submit" name="save_action" value="save_draft" class="secondary">Save Draft</button>
    <%= link_to 'Cancel', @argument.subject %>
  </div>

  <%= f.number_field :parent_argument_id, hidden: true %>
  <%= f.number_field :subject_statement_id, hidden: true %>
  <%= f.text_field :uuid, hidden: true %>
  <%= f.check_box :agree, hidden: true %>
<% end %>
