<%= render 'body', argument: @argument %>
<%= render 'publish_date', argument: @argument %>

<% if @argument.child_arguments.present? %>
  <p>Replies:
    <% @argument.child_arguments.map do |child| %>
      &nbsp; <%= link_to "#{child.user.username}'s reply", child %>
    <% end %>
  </p>
<% end %>

<% if @argument.counters.any? %>
  <p>Counters to that:</p>
  <ul>
    <% @argument.counters.map do |counter| %>
      <li><%= link_to counter.text, statement_path(counter.id) %> (<%= counter.state %>)</li>
    <% end %>
  </ul>
<% end%>

<div class="argument-actions">
  <% if my(@argument) && !@argument.published? %>
    <%= button_to 'Publish', publish_argument_path(@argument) %>
    <%= link_to 'Edit', edit_argument_path(@argument), class: 'btn' %>
  <% end %>
  <% if !my(@argument) && @argument.published? %>
    <%= link_to 'Counter', counter_argument_path(@argument), class: 'btn' %>
    <%= link_to 'Clarify', suggest_new_argument_path(@argument), class: 'btn' %>
  <% end %>
</div>
