<p id="notice"><%= notice %></p>

<p>
  I <%= @argument.agree_disagree.downcase %> with:
  <%= link_to @argument.statement.text, statement_path(@argument.statement) %>
</p>
<p>
  <% @argument.statement_text_sentences.each do |sentence| %>
    <li><%= sentence %></li>
  <% end %>
</p>

<%= link_to 'Back', statement_path(@argument.statement) %> | <%= link_to 'Edit', edit_argument_path(@argument) %>
