<%= render 'heading', argument: @argument %>

<p class="statement-heading"><%= @argument.one_line %></p>
<%= render 'statements/state', subject: @argument %>
<%= render 'statements/date_and_author', subject: @argument %>
<span class="argument-explanation meta-text">(<%= @argument.type %>)</span>

<% if @argument.child_arguments.present? %>
  <p>Replies:
    <% @argument.child_arguments.map do |child| %>
      &nbsp; <%= link_to "#{child.user.username}'s clarification", child %>
    <% end %>
  </p>
<% end %>

<% if @argument.prompt_user_for_stance? current_user %>
  <p>To address this argument, please first indicate your stance on <%= link_to 'the subject', @argument.subject %>.</p>
<% end %>

<% if @argument.counters.any? %>
  <p>Counters:</p>
  <ul>
    <% @argument.counters.map do |counter| %>
      <li><%= link_to counter.text, statement_path(counter.id) %> (<%= counter.state %>)</li>
    <% end %>
  </ul>
<% end%>

<div class="argument-actions">
  <% if my(@argument) && !@argument.published? %>
    <%= button_to 'Publish', publish_argument_path(@argument) %>
    <%= link_to 'Edit', edit_argument_path(@argument), class: 'btn' %>
  <% end %>
  <% if @argument.actionable_to_user? current_user %>
    <%= link_to 'Counter', new_counter_argument_path(@argument), class: 'btn' %>
    <%= link_to 'Clarify', suggest_new_argument_path(@argument), class: 'btn' %>
  <% end %>
  <%= link_to 'Back to Subject', @argument.subject, class: 'btn' %>
  <% if @argument.parent_argument.present? %>
  <%= link_to 'Back to parent argument', @argument.parent_argument, class: 'btn' %>
  <% end %>
</div>
