<%= form_for(statement) do |f| %>
  <% if statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
        <% statement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>What do you wish to persuade others is true?</p>
  <div class="field">
    <%= f.text_field :text, class: 'statement-line' %>
  </div>

  <%= f.text_field :uuid, hidden: true %>
  <%= f.check_box :top_level, hidden: true, checked: true %>

  <div class="argument-actions">
    <%= f.submit "Publish" %>
    <%= link_to 'Back', statements_path %>
  </div>
<% end %>
