<% if @statement.countered_argument.present? %>
  <p class="countered-argument">Countering argument: <%= link_to @statement.countered_argument.one_line, @statement.countered_argument %></p>
<% end %>

<p class="statement-heading"><%= @statement.text %></p>
<%= render 'state', statement: @statement %>

<br /><br />

<form target="" action="POST">
  <% if (arguments = @statement.arguments.where(agree: @side, parent_argument_id: nil).published_or_by_user(current_user).vote_order).any? %>
    <p>Which of these reflect your reasons for <%= @side ? 'agree' : 'disagree' %>ing?
    <ul class="checkbox-list">
    <% arguments.each do |argument| %>
      <% param = "argument#{argument.id}" %>
      <li>
        <label>
          <input type="checkbox" name="<%= param %>" value="1">
          <%= argument.one_line %>
        </label>
      </li>
    <% end %>
      <li>
        <label>
          <input type="checkbox" name="other" value="1">
          Other
        </label>
      </li>
    </ul>
    <input type="submit">
  <% else %>
    <p>No responses.</p>
  <% end %>
</form>
