<p id="notice"><%= notice %></p>

<table class="statements-index">
  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td>
          <%= link_to statement.text, statement, class: 'statement-heading' %>
          <br>
          <%= statement.arguments.where(agree: true).count %> of
          <%= statement.arguments.count %> agree
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          <span class="date">
          <%= statement.created_at.strftime('%Y %b %d') %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_statement_path %>
