<table class="statements-index">
  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td>
          <%= link_to statement.text, statement, class: 'statement-heading' %>
          <p class="statement-state">
            <img src="/images/<%= statement.icon %>.png" alt="" />
            <%= statement.state %>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span class="date">
            <%= statement.created_at.strftime('%Y %b %d') %>
            </span>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_statement_path %>
