<% if @statement.countered_argument.present? %>
  <p>Countering argument: <%= link_to @statement.countered_argument.one_line, @statement.countered_argument %></p>
<% end %>

<p class="statement-heading"><%= @statement.text %></p>
<%= render 'state', statement: @statement %>

<p class="stance">
  <% if @statement.user == current_user %>
    <span class="date">Published by you</span>
  <% else %>
    <% if @statement.stance_of(current_user).blank? %>
      <%= link_to "Agree", new_argument_path(argument: { subject_statement_id: @statement, agree: true }), class: 'btn btn-success' %>
      &nbsp;
      <%= link_to "Disagree", new_argument_path(argument: { subject_statement_id: @statement, agree: false }), class: 'btn btn-danger' %>
    <% else %>
      You <%= @statement.stance_of(current_user) %>.
      <%= link_to "Add another argument", new_argument_path(argument: { subject_statement_id: @statement, agree: @statement.agreed_by?(current_user) }), class: 'btn' %>
    <% end %>
  <% end %>
</p>

<div class="arguments-table">
  <% [true, false].each do |side| %>
    <div class="agree-<%= side %>">
      <p><strong><%= side ? 'Supporting arguments' : 'Counterarguments' %></strong></p>
      <% if (arguments = @statement.arguments.where(agree: side, parent_argument_id: nil).published_or_by_user(current_user).vote_order).any? %>
        <% arguments.each do |argument| %>
          <div class="argument">
            <div><%= link_to argument.one_line, argument %></div>
            <div>
              <span><%= argument.published? ? "by #{argument.user.username}" : 'not yet published.' %></span>
              <% if argument.published? && @statement.agreed_by?(current_user) == side %>
                <div class="upvote">
                  <% if current_user.upvoted_argument?(argument) %>
                    <%= button_to 'Remove vote', remove_vote_argument_path(argument) %>
                  <!-- limit to one vote per statement for now -->
                  <% elsif current_user.votes_on_statement(argument.subject_statement).blank? %>
                    <%= button_to 'Upvote', upvote_argument_path(argument) %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No responses.</p>
      <% end %>
    </div>

  <% end %>
</div>
