<p id="notice"><%= notice %></p>

<p class="statement-heading"><%= @statement.text %></p>

<%= link_to "Agree", new_argument_path(statement_id: @statement, agree: true), class: 'btn btn-success' %>
&nbsp;
<%= link_to "Disagree", new_argument_path(statement_id: @statement, agree: false), class: 'btn btn-danger' %>
<br>
<br>
<br>

<% if @statement.arguments.any? %>
  <p><strong>Responses:</strong></p>
  <table class="">
    <tbody>
      <% @statement.arguments.each do |argument| %>
        <tr>
          <td><%= argument.agree_disagree %>:</td>
          <td><%= link_to argument.statement_text, argument %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No responses.</p>
<% end %>

<br>
<br>

<hr>


<%= link_to 'Home', statements_path %>
