<%= render 'shared/breadcrumbs', context: @statement %>

<p class="statement-heading"><%= @statement.text %></p>
<%= render 'state', subject: @statement %>
<%= render 'date_and_author', subject: @statement %>

<div class="stance argument-actions">
  <% if @statement.user == current_user %>
    <span class="date">Published by you</span>. &nbsp;
    <%= link_to "Support your statement", new_argument_path(argument: { subject_statement_id: @statement, agree: true }), class: 'btn' %>
  <% else %>
    <% if @stance %>
      You <%= @stance %>. &nbsp;
      <%= button_to 'Change your stance', no_stance_statement_path(@statement), class: 'link-button small-button' %>
      <%= link_to "New #{@stance.agree ? '' : 'counter'}argument", new_argument_path(argument: { subject_statement_id: @statement, agree: @stance.agree }), class: 'btn' %>
    <% else %>
      <%= button_to 'Agree', agree_statement_path(@statement), class: 'green' %>
      &nbsp;
      <%= button_to 'Disagree', disagree_statement_path(@statement), class: 'red' %>
    <% end %>
  <% end %>
</div>
<br />

<div class="arguments-table">
  <% [true, false].each do |side| %>
    <div class="agree-<%= side %>">
      <p><strong><%= side ? 'Supporting arguments' : 'Counterarguments' %></strong></p>
      <% if (arguments = @statement.arguments.published.where(agree: side, parent_argument_id: nil).published_or_by_user(current_user).vote_order).any? %>
        <% arguments.each do |argument| %>
          <div class="argument">
            <div class="argument-oneline"><%= link_to argument.text, argument %></div>
            <% if @statement.allow_action?(current_user) %>
              <%= render 'state', subject: argument, size: 'small' %>
            <% end %>
            <%= render 'date_and_author', subject: argument %>
            <div class="item-actions">
              <% if @statement.agreed_by?(current_user) == side %>
                <% if current_user.upvoted_argument?(argument) %>
                  You upvoted this. <%= button_to 'Remove upvote', remove_vote_argument_path(argument), class: 'link-button small-button' %>
                <!-- limit to one vote per statement for now -->
                <% else %>
                  <%= button_to 'Upvote', upvote_argument_path(argument), class: 'button-link' %>
                <% end %>
              <% elsif @statement.agreed_by?(current_user) == !side %>
                <%= link_to 'Counter', new_counter_argument_path(argument) %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No responses.</p>
      <% end %>
      <br />
    </div>

  <% end %>
</div>
