<p id="notice"><%= notice %></p>

<%= render 'heading', statement: @statement %>

<%= link_to "Agree", new_response_statement_path(statement: @statement, agree: true), class: 'btn btn-success' %>
&nbsp;
<%= link_to "Disagree", new_response_statement_path(statement: @statement, agree: false), class: 'btn btn-success' %>
<br>
<br>

<% if @statement.child_statements.any? %>
  <p><strong>Responses:</strong></p>
  <table class="">
    <tbody>
      <% @statement.child_statements.each do |child| %>
        <tr>
          <td><%= child.agree_disagree %>:</td>
          <td><%= link_to child.text, child %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No responses.</p>
<% end %>

<br>
<br>

<hr>


<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
