<p class="statement-heading"><%= @statement.text %></p>

<% if @statement.user == current_user %>
  <span class="date">Published by you <%= I18n.l @statement.created_at %></span>
<% else %>
  <% if @statement.stance_of(current_user).blank? %>
    <%= link_to "Agree", new_argument_path(argument: { subject_statement_id: @statement, agree: true }), class: 'btn btn-success' %>
    &nbsp;
    <%= link_to "Disagree", new_argument_path(argument: { subject_statement_id: @statement, agree: false }), class: 'btn btn-danger' %>
  <% else %>
    You <%= @statement.stance_of(current_user) %>.
  <% end %>
<% end %>
<br>
<br>

<div class="arguments-table">
  <% [true, false].each do |side| %>
    <div class="agree-<%= side %>">
      <p><strong><%= side ? 'Agreements' : 'Disagreements' %></strong></p>
      <% if (arguments = @statement.arguments.where(agree: side).published_or_by_user(current_user)).any? %>
        <% arguments.each do |argument| %>
          <div class="argument">
            <div><%= link_to argument.one_line, argument %></div>
            <div>by <%= argument.user.username %></div>
          </div>
        <% end %>
      <% else %>
        <p>No responses.</p>
      <% end %>
    </div>

  <% end %>
  <div class="disagree-side">
  </div>
</div>

<br>
<br>

<hr>


<%= link_to 'Home', statements_path %>
