<p class="statement-heading"><%= @statement.text %></p>

<% if @statement.user == current_user %>
  <span class="date">Published by you <%= I18n.l @statement.created_at %></span>
<% else %>
  <% if @statement.stance_of(current_user).blank? %>
    <%= link_to "Agree", new_argument_path(argument: { subject_statement_id: @statement, agree: true }), class: 'btn btn-success' %>
    &nbsp;
    <%= link_to "Disagree", new_argument_path(argument: { subject_statement_id: @statement, agree: false }), class: 'btn btn-danger' %>
  <% else %>
    You <%= @statement.stance_of(current_user) %>.
    <%= link_to "Add another argument", new_argument_path(argument: { subject_statement_id: @statement, agree: @statement.agreed_by?(current_user) }), class: 'btn' %>
  <% end %>
<% end %>
<br>
<br>

<div class="arguments-table">
  <% [true, false].each do |side| %>
    <div class="agree-<%= side %>">
      <p><strong><%= side ? 'Agreements' : 'Disagreements' %></strong></p>
      <% if (arguments = @statement.arguments.where(agree: side).published_or_by_user(current_user).vote_order).any? %>
        <% arguments.each do |argument| %>
          <div class="argument">
            <div><%= link_to argument.one_line, argument %></div>
            <div>
              <span>by <%= argument.user.username %></span>
              <% if @statement.agreed_by?(current_user) == side %>
                <div class="upvote">
                  <% if current_user.upvoted_argument?(argument) %>
                    <%= button_to 'Remove vote', remove_vote_argument_path(argument) %>
                  <!-- limit to one vote per statement for now -->
                  <% elsif current_user.votes_on_statement(argument.subject_statement).blank? %>
                    <%= button_to 'Upvote', upvote_argument_path(argument) %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No responses.</p>
      <% end %>
    </div>

  <% end %>
</div>

<br>
<br>

<hr>


<%= link_to 'Home', statements_path %>
