<%= render 'shared/breadcrumbs', context: @argument %>

<p class="statement-heading"><%= @argument.text %></p>

<br />

<p>What is the problem with this argument?</p>

<form action="<%= new_counter_argument_path(@argument) %>" method="get" id="fallacy_radio">
  <% Fallacy.common.each do |fallacy| %>
    <label>
      <input type="radio" name="fallacy_name" value="<%= fallacy.name %>" onchange="$('#fallacy_radio').submit();" <%= @fallacy&.name == fallacy.name ? 'checked' : '' %>/>
      <b><%= fallacy.name %></b>:
      <%= fallacy.description %>
    </label><br />
  <% end %>

  <% if Rails.env.test? %><input type="submit" value="Next"><% end %>
  <br />

</form>

<form action="<%= create_counter_argument_path(@argument) %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <input hidden="true" type="text" name="fallacy_name" value="<%= @fallacy&.name %>" />

  <br />
  <% @fallacy.questions.each do |question| %>
    <p><label>
      <span><%= question['label'] %></span><br />
      <% case question['type']
         when 'text' %>
        <input type="text" name="<%= question['name'] %>" onkeyup="update_fill_in()" />
      <% when 'select' %>
        <select name="<%= question['name'] %>" onchange="update_fill_in()" />
          <option value=""></option>
          <% question['options'].each do |option| %>
            <option value="<%= option %>"><%= option %></option>
          <% end %>
        </select>
      <% end %>
    </label></p>
  <% end %>

  <div class="statement-preview">
  <p>Your statement:</p>
  <p>"<span class="counter-statement"></span>"</p>
  </div>

  <div class="argument-actions">
    <input type="submit" value="Publish" class="publish-button" />
    <%= link_to 'Cancel', @argument %>
  </div>
</form>

<script type="text/javascript">
  /* The results of these inspect calls in Ruby are assumed to be parseable by JavaScript. */
  fill_in = <%= raw @fallacy.fill_in.inspect %>;
  terms = <%= raw @fallacy.questions.map(&:name).inspect %>;

  update_fill_in = function() {
    complete = true;
    any_items = false;
    result = fill_in;

    terms.forEach(function(term) {
      enteredValue = $('input[name="' + term + '"]').val() ||
                     $('select[name="' + term + '"]').val();

      complete = complete && !!enteredValue;
      any_items = any_items || !!enteredValue;

      result = result.replace('['+term+']', enteredValue || '___');
    });
    $('.counter-statement').text(result);
    $('.publish-button').prop('disabled', !complete);
    $('.statement-preview').css('visibility', any_items ? 'visible' : 'hidden');
  }
  update_fill_in();
</script>
