<%= render 'arguments/heading', argument: @premise_citation.argument %>
<%= render 'arguments/premises', argument: @premise_citation.argument, highlight: @premise_citation.premise.id %>

How do you respond to the <span class="highlighted">highlighted</span> statement?
<ul>
  <li><%= link_to "I agree with the statement, and it is a good premise for the argument.", new_argument_path(premise_citation_id: @premise_citation.id, agree: true), class: 'btn btn-success' %></li>
  <li><%= link_to "I agree with the statement, but it is NOT a good premise for the argument.", new_argument_path(premise_citation_id: @premise_citation.id, agree: true), class: 'btn btn-danger' %></li>
  <li><%= link_to "I disagree with the statement itself.", new_argument_path(premise_citation_id: @premise_citation.id, agree: true), class: 'btn btn-danger' %></li>
</ul>
<div class="argument-actions">
  <%= link_to 'Cancel', argument_path(@premise_citation.argument) %>
</div>
<br>
