<!DOCTYPE html>
<html>
  <head>
    <title>Debate</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="top-bar">Logged in as <%= link_to current_user.display_username, '/users/edit' %> - <a href="/users/sign_out" data-method="delete">Logout</a></div>
    <% end %>
    <p class="notices">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </p>
    <%= yield %>
  </body>
</html>
